body {
  background: #040D12;
}

.timer {
  color: #93B1A6;
}

.chssboard {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .menu {
    background: rgba(0, 0, 0, 0.2);
    display: grid;
    height: 31.25rem;
    width: 20rem;
    place-items: center;

    .btn {
      padding: 1rem;
      background: #183D3D;
      border: none;
      transition: all 0.3s ease;
      border-radius: 10px;
      color: #93B1A6;
      font-weight: bold;
      font-size: 2rem;
      &:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 50px 0px #183D3D;
        cursor: pointer;
      }
    }
  }
}
